@import "tailwindcss";

:root {
}

@theme {
  --font-poppins: var(--font-poppins);
  --font-nunito: var(--font-nunito);

  --color-brand: #1e4dd8;
  --color-brand-84: rgba(30, 77, 216, 0.84);
  --color-cyan: #0086eb;
  --color-white: #f2f3f9;
  --color-dark: #020712;
  --color-dark-08: rgba(2, 7, 18, 0.08);
  --color-dark-16: rgba(2, 7, 18, 0.16);
  --color-dark-88: rgba(2, 7, 18, 0.88);
  --color-red: #c60024;
  --color-green: #00af7f;
  --color-yellow: #ffbf52;
  --color-yellow-88: #fdc666;
}
